{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="form-confirm-message">
    <div class="row form-margin">
        <div class="col-xs-12 col-md-6 col-md-offset-3 confirm-form">
            <div class="panel panel-default">
                <div class="panel-heading login-header">
                    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
                </div>
                <div class="panel-body">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action=".">
                                {% csrf_token %}
                               {% for field in form %}
                               <div class="form-group form-group-lg">
                                    <label for="{{ field.id_for_label}}">{{field.label}}</label>
                                    {{ field.errors }}
                                    <input type="password" class="form-control" name="{{ field.name }}" id="{{ field.id_for_label}}">
                                   {% endfor %}
                                   <input type="submit" style="margin-top:10px;" class="btn btn-primary" name="action" value="{% trans 'change password' %}"/>
                                </div>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
