<nav class="navbar navbar-default non-transparent-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand our-logo" href="#">
        <img alt="Brand" src="{% static 'images/love_tree.svg'%}" class="img-responsive" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About us</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
